/* RecordQuery.css */
.record-query-section {
  margin: 10px;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
}

.record-id-input {
  flex-basis: 100%;
}

.field-inputs {
  display: flex;
  flex: 1;
}

.filemaker-input {
  margin: 5px;
}

.buttons-container {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.filemaker-button {
  margin: 5px;
}

@media screen and (min-width: 480px) {
  .record-id-input {
    flex-basis: auto;
    flex: 1;
  }
}
