/* RecordQuery.css */
.record-query-section {
  margin: 10px;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
}

.record-id-input {
  flex-basis: 100%;
}
.inputs-row {
  display: flex;
  flex-wrap: wrap;
}

.record-id-input {
  flex: 1; /* Takes up available space */
  margin: 5px;
}

.field-inputs {
  display: flex;
  flex: 2; /* Takes up twice the space as record-id-input */
}

.field-inputs .filemaker-input {
  flex: 1; /* Divide space equally between Field Name and Field Value inputs */
}

@media screen and (max-width: 480px) {
  .record-id-input, .field-inputs {
    flex: 100%; /* Stack inputs on top of each other for smaller screens */
  }
}